<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    <h3>{{selectedDish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}>
            <mat-card-content>
                <p>{{selectedDish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxFlex="40">
        <div fxFlex>
            <h3>Comments</h3>
            <mat-list>
                <mat-list-item *ngFor="let review of selectedDish.comments">
                    <span matLine>{{review.comment}}</span>
                    <span matLine>{{review.rating}} Stars</span>
                    <span matLine>--{{review.author}} {{review.date | date}}</span>
                </mat-list-item>
            </mat-list>
        </div>
    </div>

</div>