#submitButton {
  background-color: rgba(0,0,0,0.12);
  color: rgba(0,0,0,0.38);
  
}

#submitButton:not([disabled]) {
      position: right !important;
      color: #ffffff !important;
      background-color: #512DA8;
    
  }
